/*-- scss:defaults --*/
@import url('https://fonts.bunny.net/css?family=fredoka:400');
@import url('https://fonts.bunny.net/css?family=google-sans-code:300');
// fonts
$font-family-sans-serif: 'Fredoka', Helvetica, sans-serif, 'News Cycle';
$font-family-monospace: 'Google Sans Code', monospace;
$code-color: #4361ee;

/*-- scss:rules --*/

.navbar { 
  font-family: 'Fredoka'; 
  }